<!-- <div>{{ getCurrentFilter() }}</div>
<p>alias:{{join.alias}}</p> -->
<!-- <p>leftFieldId:{{fieldForm.value.leftFieldId}}</p> -->
<div class="NotebookCell" style="width: 100%" [style.backgroundColor]="getBackColor()">
  <div class="NotebookCellItem" style="cursor: auto" [style.backgroundColor]="getFrontColor()" pfHover
    [hoverStyle]="{ backgroundColor: getFrontHoverColor() }">
    <span>
      {{sourceName}}
    </span>
  </div>


  <div (click)="joinTypePopups.open($event.currentTarget)" class="pf-select-input"
    style="display: inline; margin-right: 8px; cursor: pointer">
    <i nz-icon style="font-size: 32px; vertical-align: middle" [style.color]="getFrontColor()">
      <svg *ngIf="'left-join' === joinType" pfSvgIconPath [svgIconType]="'SQL_LEFT_JOIN'"></svg>
      <svg *ngIf="'right-join' === joinType" pfSvgIconPath [svgIconType]="'SQL_RIGHT_JOIN'"></svg>
      <svg *ngIf="'inner-join' === joinType" pfSvgIconPath [svgIconType]="'SQL_INNER_JOIN'"></svg>
    </i>
  </div>
  <pf-dropdown-popups #joinTypePopups>
    <ul class="pf-select-ul">
      <li *ngFor="let item of joinTypeList" [attr.value]="item.key" (click)="
          joinType = item.key; join.strategy = item.key; joinTypePopups.close()
        " [class.selected]="joinType === item.key">
        {{ item.value }}
      </li>
    </ul>
  </pf-dropdown-popups>
  <div class="NotebookCellItem JoinRTableCellItem" (click)="showSelectTablePopups($event, selectTablePopups)"
    [style.backgroundColor]="getFrontColor()" pfHover [hoverStyle]="{ backgroundColor: getFrontHoverColor() }">
    <span>
      {{ getJoinTableName(join["source-table"]) }}
    </span>
  </div>
  <ng-container *ngIf="(!pfUtil.isAnyNull(join['source-table']))||(!pfUtil.isAnyNull(join['source-model']))">
    <span>where</span>
    <ng-container *ngFor="
        let item of join.condition;
        index as index;
        first as first;
        last as last;
        odd as odd;
        even as even
      ">

      <span *ngIf="odd">{{ item }}</span>

      <div *ngIf="even" class="NotebookCellItem" (click)="
          initEditingParam(index, item);
          selectFieldPopups.open($event.currentTarget)
        " [style.backgroundColor]="getFrontColor()">
        <ng-container *ngTemplateOutlet="fieldTpl; context: { field: item[1] }"></ng-container>
        <span>&nbsp;{{ item[0] }}&nbsp;</span>
        <ng-container *ngTemplateOutlet="fieldTpl; context: { field: item[2] }"></ng-container>

        <ng-container *ngTemplateOutlet="deleteTpl; context: { idx: index, first: first }"></ng-container>
        <!-- <i nz-icon class="sqlDeleteFieldBtn" (click)="deleteCompare(filter)"
          ><svg
            class="Icon Icon-close Icon-cxuQhR kBrLuA"
            viewBox="0 0 32 32"
            width="16"
            height="16"
            fill="currentcolor"
          >
            <path
              d="M4 8 L8 4 L16 12 L24 4 L28 8 L20 16 L28 24 L24 28 L16 20 L8 28 L4 24 L12 16 z "
            ></path>
          </svg>
        </i> -->
      </div>
    </ng-container>

    <div class="NotebookCellItem addConditionBtn"
      (click)="initAddingParam(); selectFieldPopups.open($event.currentTarget)"
      [style.backgroundColor]="getFrontColor()">
      <i nz-icon style="color: white">
        <svg class="Icon Icon-close Icon-cxuQhR kBrLuA" viewBox="0 0 32 32" width="16" height="16">
          <path
            d="M12.4285714,12.4285714 L12.4285714,0 L19.5714286,0 L19.5714286,12.4285714 L32,12.4285714 L32,19.5714286 L19.5714286,19.5714286 L19.5714286,32 L12.4285714,32 L12.4285714,19.5714286 L0,19.5714286 L0,12.4285714 L12.4285714,12.4285714 Z">
          </path>
        </svg>
        <!-- <p>afdafdsdf</p> -->
      </i>
    </div>
  </ng-container>

  <a *ngIf="!pfUtil.isListEmpty(join.condition)" (click)="selectOutFieldPopups.open($event.currentTarget)"
    style="float: right; padding-right: 10px">字段</a>
</div>

<!--共用模板-->
<ng-template #fieldTpl let-field="field">
  <ng-template [ngIf]="isArray(field)">
    <!-- <ng-template [ngIf]="field[0] == 'field-id'">
      <span>{{ getFieldFullName(field) }}</span>
    </ng-template>
    <ng-template [ngIf]="field[0] == 'joined-field'">
      <span>{{ field[1] }}.{{ field[2][1] }}</span>
    </ng-template> -->
    <span>{{ getFieldName(field) }}</span>
  </ng-template>
  <ng-template [ngIf]="!isArray(field)">
    <span>{{ field }}</span>
  </ng-template>
</ng-template>

<ng-template #deleteTpl let-idx="idx" let-first="first">
  <i nz-icon class="sqlDeleteFieldBtn" (click)="deleteCompare(idx, first)" style="color: rgb(213, 213, 252)"><svg
      class="Icon Icon-close Icon-cxuQhR kBrLuA" viewBox="0 0 32 32" width="16" height="16">
      <path d="M4 8 L8 4 L16 12 L24 4 L28 8 L20 16 L28 24 L24 28 L16 20 L8 28 L4 24 L12 16 z "></path>
    </svg>
  </i>
</ng-template>

<!--弹窗-->

<pf-dropdown-popups #selectTablePopups>
  <!-- <p>{{ step }}</p> -->
  <!--这里需要改为：只能选择主表的库 或者 选择SavedQuestion--benjamin todo-->
  <!--选择表 old -->
  <!-- <ul nz-menu *ngIf="'database' === step">
    <li *ngFor="let item of databaseList" nz-menu-item (click)="goSelectTable(item, selectTablePopups)">
      <i nz-icon nzType="database" nzTheme="outline"></i>
      {{ item.DatabaseName }}
    </li>
    <li nz-submenu [nzTitle]="'保存的问题(开发中)'" [nzIcon]="'group'">

      <ul>
        <li *ngFor="let item of datamodelGroupList" nz-menu-item (click)="goSelectDatamodel(item, selectTablePopups)">
          <i nz-icon nzType="folder" nzTheme="outline"></i>
          {{ item.Name }}
        </li>
      </ul>
    </li>
  </ul>

  <ng-template [ngIf]="'table' === step">
    <a (click)="goSelectDatabase(selectTablePopups)" style="line-height: 50px">
      <i nz-icon nzType="left" nzTheme="outline"></i>
      {{ getDatabaseName() }}
    </a>
    <ul nz-menu nzMode="inline">
      <li>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="input search text" #searchBox [(ngModel)]="searchText" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </li>
      <ng-container *ngFor="
          let item of tableList;
          index as index;
          first as first;
          last as last;
          odd as odd;
          even as even
        ">
        <li *ngIf="likeText(item.TableName, searchBox.value)" nz-menu-item
          (click)="selectTable(item); selectTablePopups.close()">
          <i nz-icon nzType="table" nzTheme="outline"></i>
          {{ item.TableName }}
        </li>
      </ng-container>
    </ul>
  </ng-template>
 -->
  <!--选择表 new -->
  <sql-select-table-ul [databaseId]="databaseId"
    (selectTableModel)="selectTableModel($event); selectTablePopups.close()">
  </sql-select-table-ul>
</pf-dropdown-popups>

<pf-dropdown-popups #selectFieldPopups>
  <pf-dropdown-popups #selectLeftColumnPopups>
    <sql-select-column-ul [sourceOutFieldList]="sourceOutFieldList" [selectColumnList]="leftSelectColumnList"
      (selectColumnModel)="onSelectLeftColumn($event); selectLeftColumnPopups.close()" [color]="color">
    </sql-select-column-ul>
  </pf-dropdown-popups>
  <!--测试list绑定函数结果-->
  <!-- <pf-select
    [(ngModel)]="leftFieldId"
    [list]="[
      { key: 'aa', value: 'aa' },
      { key: 'bb', value: 'bb' }
    ]"
    [disabled]="false"
    style="width: 80px"
  >
  </pf-select>
  <pf-select
    [(ngModel)]="leftFieldId"
    [list]="getFieldDropdownDataByTableId(query['source-table'])"
    [disabled]="false"
    style="width: 80px"
  >
  </pf-select>
  <pf-select
    [(ngModel)]="leftFieldId"
    [list]="leftFieldList"
    [disabled]="false"
    style="width: 80px"
  >
  </pf-select> -->

  <ul *ngIf="
  selectColumnList !== null && selectColumnList !== undefined && selectColumnList.length > 0
    " [formGroup]="fieldForm">
    <li style="white-space: nowrap">
      <!-- <span> {{ sourceName }}. </span>
      <pf-select formControlName="leftFieldId" [list]="leftFieldList" [pfPlaceHolder]="'选择字段'" [editable]="false"
        [disabled]="false" style="width: 80px">
      </pf-select> -->

      <!--新版本,可选之前的各table的列-->
      <!-- <span class="pf-input" (click)="selectLeftColumnPopups.open($event.currentTarget)"> {{ getLeftFieldName() }}
      </span> -->
      <!-- <pf-select formControlName="rightFieldId" [list]="rightFieldList" [pfPlaceHolder]="'选择字段'" [editable]="false"
      [disabled]="false" style="width: 80px">
    </pf-select> -->
      <pf-input (click)="selectLeftColumnPopups.open($event.currentTarget)" formControlName="leftFieldId"
        [editable]="false" [displayValue]="getLeftFieldName()">
      </pf-input>
      <!-- <input nz-input type="text" (click)="selectLeftColumnPopups.open($event.currentTarget)"
        formControlName="leftFieldId" readonly="readonly" /> -->
      <!-- <input type="text" (click)="selectLeftColumnPopups.open($event.currentTarget)" formControlName="leftFieldId"
        readonly="readonly" /> -->
      <!-- <input nz-input placeholder="Basic usage" (click)="selectLeftColumnPopups.open($event.currentTarget)"
        formControlName="leftFieldId" /> -->
      <!-- <input (click)="selectLeftColumnPopups.open($event.currentTarget)" formControlName="leftFieldId" /> -->
      <!-- <nz-form-item>
        <nz-form-control [nzSpan]="8" nzValidateStatus nzHasFeedback>
          <input nz-input placeholder="Basic usage" (click)="selectLeftColumnPopups.open($event.currentTarget)"
            formControlName="leftFieldId" />
        </nz-form-control>
      </nz-form-item> -->

      <span>=</span>
      <span> {{ getJoinTableName(join["source-table"]) }}. </span>

      <pf-select formControlName="rightFieldId" [list]="rightFieldList" [pfPlaceHolder]="'选择字段'" [editable]="false"
        style="width: 80px">
      </pf-select>
    </li>
    <li>
      <button nz-button nzType="default" (click)="saveField(selectFieldPopups)">
        {{ isAdd ? "添加关联条件" : "修改关联条件" }}
      </button>
    </li>
  </ul>
</pf-dropdown-popups>

<pf-dropdown-popups #selectOutFieldPopups>
  <!-- <label nz-checkbox [ngModel]="outFieldId.length === rightFieldList.length"
    (ngModelChange)="onSelectAll($event)">全选</label>
  <hr />
  <ul>
    <li *ngFor="let item of rightFieldList">
      <label nz-checkbox [ngModel]="outFieldId.indexOf(tParseInt(item.key)) > -1"
        (ngModelChange)="onSelect($event, item)">{{ item.value }}</label>
    </li>
  </ul> -->
  <!-- <p>新方式</p> -->

  <label nz-checkbox [(ngModel)]="isAllColumnSelected" [nzDisabled]="false"
    (ngModelChange)="onSelectAllColumnModel($event)">全选</label>
  <hr />
  <ul>
    <li *ngFor="let item of rightSelectColumnList">
      <label nz-checkbox [(ngModel)]="item.selected" (ngModelChange)="onSelectColumnModel($event, item)">{{
        item.displayIdxName }}</label>
    </li>
  </ul>
</pf-dropdown-popups>