<div class="relative my1" style="position: relative;">

    <div style="position: absolute;left:0px;top:0px;pointer-events: none;border-color: transparent">
        =
    </div>
    <!-- <tokenized-input ref="input" type="text" class="input" [class.borderError]="priorityError" style="padding-left:26"
        [placeholder]="placeholder" [value]="source" [startRule]="startRule" [parserOptions]="_getParserOptions()"
        (onChange)="onExpressionChange($event)" (onKeyDown)="onInputKeyDown($event)" (onBlur)="onInputBlur($event)"
        (onFocus)="_triggerAutosuggest()" (click)="onInputClick()" autoFocus></tokenized-input> -->
</div>