<div class="NotebookCell" style="line-height: 50px; width: 100%" [style.backgroundColor]="getBackColor()">
  <div class="NotebookCellItem" [style.backgroundColor]="getFrontColor()"
    (click)="showSelectTablePopups($event, selectTablePopups)">
    <!-- <p>{{tableList.length}}</p> -->
    <!-- <p>------------------------------</p>
    <p style="color:black">{{isAllColumnSelected}}</p>
    <p>------------------------------</p>
    <div style="color:black;    white-space: normal;">{{testConsole1()}}</div>
    <p>------------------------------</p>
    <p style="color:black">{{testConsole2()}}</p> -->
    <span>
      {{ getTableName() }}
    </span>
  </div>

  <!-- <a *ngIf="!pfUtil.isListEmpty(columnList)||!pfUtil.isListEmpty(sourceOutFieldList)"
    (click)="selectFieldPopups.open($event.currentTarget)" style="float: right; padding-right: 10px">字段</a> -->
  <a *ngIf="!pfUtil.isListEmpty(selectColumnList)" (click)="selectFieldPopups.open($event.currentTarget)"
    style="float: right; padding-right: 10px">字段</a>
</div>

<pf-dropdown-popups #selectFieldPopups>
  <!-- <p>新方式</p> -->

  <label nz-checkbox [ngModel]="isAllColumnSelected" [nzDisabled]="false"
    (ngModelChange)="onSelectAllColumnModel($event)">全选</label>
  <hr />
  <ul>
    <li *ngFor="let item of selectColumnList">
      <label nz-checkbox [ngModel]="item.selected" (ngModelChange)="onSelectColumnModel($event, item)">{{
        item.displayIdxName }}</label>
    </li>
  </ul>
</pf-dropdown-popups>

<pf-dropdown-popups #selectTablePopups>
  <sql-select-table-ul [databaseId]="databaseId" [onlySameDatabase]="false"
    (selectTableModel)="selectTableModel($event); selectTablePopups.close()">
  </sql-select-table-ul>
</pf-dropdown-popups>