.job-left-toolbar ul{
  padding: 0px;
}
.job-left-toolbar ul li {
  list-style: none;
    padding-bottom: 10px;
  }
  .job-left-toolbar ul li img {
    width: 60px;
    height: 60px;
  }
  
  .job-left-toolbar ul li svg {
    width: 60px;
    height: 60px;
  }
  